{% extends 'base.html' %}

{% block content %}  
<section class="about-hero py-5"> 
    <div class="container">
        <h1 class="text-center">Our Story</h1>
        <p class="lead text-center">How a love for greenery blossomed into Sproutly...</p>
        <p>"I've been in love with plants since childhood, tending to windowsill gardens and fascinated by nature's growth. Sproutly is my way of sharing this joy, giving everyone the tools to be successful plant parents."</p>
    </div>
</section>

<section class="mission-values py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-10">
                <h2>Our Mission</h2>
                <p>Our mission is to empower plant enthusiasts of all levels to nurture their green companions and witness their botanical journey unfold. We want to foster a vibrant community where plant lovers connect, learn, and inspire one another to unlock the joys of plant parenthood. We aim to make plant care intuitive and engaging, transforming plant worries into  green thumb confidence.</p>
            </div>
            <div class="col-md-6">
                <h2>Our Values</h2>
                <ul class="value-list">
                    <li>User-Centric: We put the needs of plant parents at the heart of every Sproutly feature.</li>
                    <li>Nurturing: We're a welcoming community focused on support and helping your plants thrive.</li>
                    <li>Growth-Oriented: We celebrate progress, big and small, in both your plants and your knowledge.</li>
                    <li>Community-Driven: Sproutly fosters a space for plant enthusiasts to connect and learn from each other.</li>
                    <li>Sustainability: We believe in promoting responsible plant care and eco-friendly practices.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %} 