
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Plant</title> 
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/style.css' %}"> 
</head>
<body>
    <h1>Add a Plant</h1>

    <div>
        <label for="id_description">Description:</label>
        {{ form.description }} 
    </div>
    <div>
        <label for="id_light_requirements">Light Requirements:</label>
        {{ form.light_requirements }}
    </div>
    <div>
        <label for="id_image">Image:</label>
        {{ form.image }}
    </div>

    <form method="post">
        {% csrf_token %}  
        {{ form.as_p }} 
        <button type="submit">Add Plant</button>
    </form>


</body>
</html>
