{% extends 'base.html' %}

{% block content %}
<section class="plant-profile py-5">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <h1 class="plant-name">Golden Pothos</h1>
                <p class="scientific-name"> <em>Epipremnum aureum</em></p>
                <p> This resilient vining plant is known for its heart-shaped leaves and stunning variegation. Nicknamed
                    the 'Devil's Ivy', it's remarkably adaptable and a beginner-friendly option.</p>

                <h3>Care Tips</h3>
                <ul class="care-guide">
                    <li>Sunlight: Tolerates low light but thrives in bright, indirect light.</li>
                    <li>Watering: Water when the topsoil feels dry to the touch.</li>
                    <li>Soil: Well-draining potting mix.</li>
                    <li>Other Notes: Can be grown in pots or as a cascading climber. Benefits from occasional pruning.
                    </li>
                </ul>
                <h3>Common Problems</h3>
                <ul class="care-guide">
                    <li>Yellowing Leaves: Often caused by overwatering. Less frequent watering may be needed.</li>
                    <li>Leggy Growth: Indicates insufficient light. Move to a brighter location.</li>
                    <li>Brown Spots: Could be sunburn or insufficient humidity. Address either concern.</li>
                </ul>

                <h3>Propagation</h3>
                <p>Golden Pothos is extremely easy to propagate! Here's how:</p>
                <ol>
                    <li>Take stem cuttings with at least one node (the bumpy part on the stem).</li>
                    <li>You can root cuttings in water or directly in moist soil.</li>
                    <li>Place the cutting in a bright, warm location and keep medium moist.</li>
                </ol>
            </div>
            <div class="col-md-6 col-sm-10">
                <img src="" alt="Epipremnum aureum"
                    class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="cta text-center my-5">
    <div class="container">
       <h2>So, are you ready to begin? Grab your watering can and sign up!</h2>
       <a href="{% url 'signup' %}" class="btn btn-primary">Sign Up Now</a>
    </div>
 </section>

{% endblock %}