* {
    margin: 0;
    padding: 0;
}

body {
    color: #FCF8FF;
    min-height: 100vh;
    margin: 0;
    background-image: url(../assets/pictures/IMG_5874.JPG);
    background-position: center;
    background-size: cover;
}

.navbar-brand {
    color: rgb(7, 74, 7);
    font-weight: 600;
}

.nav-link {
    color: rgb(7, 74, 7);
    font-weight: 600;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #A0238D;
}

main {
    background-color: rgba(36, 83, 60, 0.647);
    margin: 30px;
    padding: 20px;
    border-radius: 3%;
    margin-top: 20px;
}

/* Index */
.hero {
    font-weight: 600;
    font-size: large;
}

.features {
    font-weight: 400;
    font-size: large;
}

.text-center {
    margin-bottom: 10px;
}

h1 h2 h4 {
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    ;
}

.cta .container {
    overflow: hidden;
}

.btn {
    background-color: #C031B5;
    color: #FCF8FF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.btn:hover {
    background-color: #A0238D;
}

/* Footer */
.social-media-links .inline-link {
    display: inline-block;
    margin: 10px;
}

footer {
    color: #FCF8FF;
    padding-top: 20px;
    font-weight: 600;
}

.social-media-links .inline-link {
    display: inline-block;
    font-size: 300%;
    margin: 10px;
    font-size: 30px;
    transition: transform 0.3s ease;
}

.social-media-links .inline-link:hover {
    transform: scale(1.2);
    text-align: center;
}

.social-media-links li a {
    color: #FCF8FF;
    margin-right: 30px;
}

.social-media-links li a:hover {
    color: #C031B5;
}

/* About */

 .lead {
    font-weight: 600;
    font-size: large;
}

.about-hero {
    font-weight: 600;
    font-size: large;
}

/* Plant Guide */

plant-profile {
    margin: 20px 0; 
}

.plant-name { 
    font-size: 32px; 
    margin-bottom: 15px; 
}

.plant-profile h3 {
    font-weight: bold;
    margin-top: 20px; 
}

.care-guide li {
    margin-bottom: 5px; 
}

/* Sign-up */


.signup-form button[type="submit"] {
    border: none; 
    padding: 12px 20px;
    cursor: pointer;  
} 
