{% extends 'base.html' %}

{% block content %}
<section class="about-hero py-5" id="about-section">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-8 col-lg-4">
                <img src="/static/assets/pictures/about_you.jpg" alt="Profile Picture" class="img-fluid rounded-circle">
            </div>
            <br>

            <div class="col-md-4 col-lg-6">
                <div class="about-info-box">
                    <h1 class="text-center">My Story</h1>
                    <p class="lead text-center">How my love for greenery blossomed into Sproutly...</p>
                    <p>"I've been in love with plants since childhood, tending to windowsill gardens and fascinated by
                        nature's growth. There's something incredibly empowering about caring for a living thing and
                        watching it thrive. Yet, I know plant care can feel intimidating at first. Sproutly is my way of
                        sharing this joy and giving everyone the tools to be successful plant parents. We're not just
                        about growing plants, but building a community of passionate plant lovers, sharing knowledge,
                        and celebrating every sprout and bloom along the way."</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mission-values py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-10">
                <h2>Our Mission</h2>
                <p>Our mission is to empower plant enthusiasts of all levels to nurture their green companions and
                    witness their botanical journey unfold. We provide the knowledge, tools, and support to make plant
                    care intuitive and engaging, ensuring success for every plant parent - whether you're a seasoned
                    gardener or just starting your first windowsill herb. We want to foster a vibrant community where
                    plant lovers connect, learn, and inspire one another to unlock the joys of plant parenthood.</p>
            </div>
            <div class="col-md-6">
                <h2>Our Values</h2>
                <ul class="value-list">
                    <li>User-Centric: We put the needs of plant parents at the heart of every Sproutly feature.</li>
                    <li>Nurturing: We're a welcoming community focused on support and helping your plants thrive.</li>
                    <li>Growth-Oriented: We celebrate progress, big and small, in both your plants and your knowledge.
                    </li>
                    <li>Community-Driven: Sproutly fosters a space for plant enthusiasts to connect and learn from each
                        other.</li>
                    <li>Sustainability: We believe in promoting responsible plant care and eco-friendly practices.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% if not user.is_authenticated %}
<section class="cta text-center my-5">
    <div class="container">
        <h2>So, are you ready to begin? Grab your watering can and sign up!</h2>
        <a href="{% url 'signup' %}" class="btn btn-primary">Sign Up Now</a>
    </div>
</section>
{% endif %}>

{% endblock %}