{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>My Plants To-Do List</h1>

    {% for plant in page_obj %}
    <h2 class="h3">{{ plant.name }} ({{ plant.species }})</h2>
    <ul class="list-group">

        {% for todo in todos %}
            <li class="list-group-item">
                <input type="checkbox" id="todo_123" {% if todo.completed %}checked{% endif %} onclick="markComplete(this, 123)">

                <label for="todo_{{ todo.id }}">{{ todo.task_type }}</label>
                <span class="due-date">Due: {{ todo.due_date }}</span>
            </li>

            {% endfor %}
    </ul>
    {% endfor %}
</div>
{% endblock content %} 

{% block scripts %}
<script>
    function markComplete(checkbox, todoId) {
        console.log("Todo ID:", todoId);
        console.log("Checkbox 'checked' before:", checkbox.checked);

        fetch('/todos/complete/' + todoId, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => {
                if (!response.ok) {
                    alert('Error updating task status');
                } else {
                    console.log("Checkbox 'checked' after:", checkbox.checked);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>     
{% endblock scripts %}  